.keypad {
    background-color: #999;
    padding: 0.2rem;
    height: 10rem;
    width: 20.5rem;
    margin-bottom: 2rem;
}

.keypad-row {
    align-items: center;
    display: flex;
    justify-content: center;
    margin: auto;
    width: 20rem;
}

.keypad-row > button {
    margin: 0.2rem;
    width: 100%;
}